
@import url(http://fonts.googleapis.com/css?family=Patua+One);

$body-font-color: #ccc;

$font-weight-light: 200 !default;
$header-font-weight: 400 !default;
$header-font-color: #ddd;
$header-font-family: "Patua One";
